body,
html {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
input {
  border: none;
  outline: none;
}
button {
  border: none;
  padding: 0;
  margin: 0;
}
